<div class="d-inline"> <!-- <----Experimenting with putting stopPropagation in this div -->
  <div [ngClass]="['dots-btn-wrapper', (disabled ? 'disable-dropdown' : '')]" id="dropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="dots-btn">
      <div class="dots-btn-inner block-parent-clicks">...</div>
    </div>
  </div>
  <ul class="dropdown-menu" aria-labelledby="dropdownBtn">
    <ng-container *ngFor="let dropdownElem of dropdownContents">
      <li><a class="dropdown-item" (click)="onOptionClicked(dropdownElem)">{{ dropdownElem }}</a></li>
    </ng-container>
  </ul>
</div>