.card {
  overflow: hidden;
}

.smaller-text {
  font-size: smaller;
}

.sticky-popup {

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1000;

  display: block;
  
  .hidden {
    display: none;
  }
}