<div class="card end-0 mb-2"> 
  <div [ngClass]="['sticky-popup', showPopup ? '' : 'hidden']" *ngIf="job?.pokemon">
    <div class="popup-tail"></div>
    <div class="popup-content">
      <p>{{ job?.pokemon?.name }}</p>
      <div class="img-frame">
        <!-- <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b42d0ecb-fd80-4a6d-bb80-93fe2bb02389/dg3gmm4-32123f6b-2b8b-4a8c-a763-fe37e2d5baa4.png"> -->
        <img [src]="job?.pokemon?.sprites?.front_default">
      </div>
    </div>
  </div>
  <div class="overflow-card">
    <div class="row">
      <div class="col-3 text-center pt-3 ps-4 text-light" [ngStyle]=" {'background-color': job?.jobTypeColor}">
        <p>JOB</p>
        <p>{{ i+1 }}</p>
        <p class="mt-5 smaller-text">{{job?.transportType}}</p>
      </div>
      <div class="col-9">
        <div class="d-flex justify-content-between pe-1">
          <div>ID: {{ job?.accountNumber }}</div>
          <div (click)="onPokeballClick($event)" *ngIf="job?.pokemon" id="pokeball-clicker">
            <img src="../../../assets/pball-icon.svg" width="20" />
          </div>
        </div>
        <h5>{{ job?.jobType }}</h5>
        <p>Appt: {{ job?.appointment }}</p>
        <span>{{ job?.location?.streetAddress }}</span>
        <p>{{ job?.location?.city }}, {{ job?.location?.state }} {{ job?.location?.zip }}</p>
      </div>
    </div>
  </div>
</div>