<ng-container *ngIf="listData?.topText">
  <h6>{{ listData?.topText }}</h6>
</ng-container>
<div class="list-group mb-2">
  <ng-container *ngFor="let element of listData?.listElements; let i = index">
    <div class="list-group-item" [ngClass]="{'active': selectedElements[i]}" style="border-color:lightgray" (click)="onSelectElement(i)"> {{ element.text }} </div>
  </ng-container>
</div>
<ng-container *ngFor="let button of listData?.buttons">
  <div class="mt-4 d-inline-flex">
    <button [class]="['btn', button.bootstrapButtonClass, 'me-2', 'mb-2']" (click)="onButtonClicked(button.text)" [disabled]="!buttonsEnabled"> {{ button.text }} </button>
  </div>
</ng-container>