<ng-container [ngSwitch]="jobLoadingState">
  <ng-container *ngSwitchDefault>
    <div class="d-flex justify-content-center mt-4">
      <h3>Loading Jobs . . .</h3>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'failed'">
    <div class="d-flex justify-content-center mt-4">
      <h3>Error loading job list.</h3>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'completed'">
    <ng-container *ngFor="let job of jobsResponse?.getJobs(); let i = index">
      <app-job-list-card [job]="job" [i]="i" (click)="onJobClicked(job)"></app-job-list-card>
    </ng-container> 
  </ng-container>
</ng-container>